@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*selector copied from https://bbbootstrap.com/snippets/bootstrap-5-fancy-login-form-social-login-support-30270654# */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
    color: black;
}

form {
  padding: 1.5em;
  margin: 1em;
}

/*selector copied from https://bbbootstrap.com/snippets/bootstrap-5-fancy-login-form-social-login-support-30270654# */
body {
    position: relative;
    width: 720px;
    height: 440px;
    margin: 20px auto;
    border: 4px solid #F2E3F4;
    border-radius: 18px;
    overflow: hidden;
}

header {
    padding: 1em;
    font-weight: bold;
    font-weight: bold;
    font-size: 1.5em;
}

input {
  border-radius: 0.5em;
  border: solid #F2E3F4;
  border-width: 0.2em 0.2em;
}

button {
    margin: 1em;
    border-radius: 0.75em;
    padding: 1em 2em 1em 2em;
}

.container--form {
  background-color: #FFFFFF;
  margin: 50px auto;
  border-radius: 0.75em;
  border-width: 0.25em;
}

.steps {
    position: absolute;
    left: 10%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.bruh {
  margin: 0.25em 0.25em 0.25em 0em;
}

.step--3 {
  font-family: sans-serif;
  text-align: center;
  place-items: center;
  display: grid;
  justify-items: center;
}

.grid-container-element {
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

.grid-child-element {
    margin: 10px;
    text-align: start;
    width: 50%;
}

.db-title {
  font-weight: bold;
  font-size: 1.5em;
}

/* TODO formatting
   TODO naming convention
*/

.corner {
    position: absolute;
    left: 85%;
    top: 85%;
    transform: translate(-50%, -50%);
    min-width: 12em;
}

.light {
  color: #000000;
  background: #F2E3F4;
  border: 0px;
}

.dark {
  color: #ffffff;
  background: #D379DF;
  border: 0px;
}

.mixed {
  color: #000000;
  border: solid 4px #D379DF;
  background: #F2E3F4;
}

.first {
    left: 60%;
}

.second {
    left: 85%;
}

.benefits-list {
    text-align: start;
    padding-right: 20px;
    padding-left: 80px;
}

/* Style buttons
https://www.w3schools.com/howto/howto_css_download_button.asp
*/
.btn {
  background-color: #D379DF;
  border: none;
  color: white;
  cursor: pointer;
  left: 16%
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #55275C;
}

/* Styles for QC documentation */
.qc {
    width: 90vw;
    height: 90 vh;
}

/*Styles for OMOP database connection */
.form-group {
    display: flex;
    justify-content: space-between; /* Push items to opposite ends */
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Add spacing between rows */
}
label {
    margin-right: 10px; /* Add spacing between label and input */
}
input {
    flex-shrink: 0; /* Prevent input from shrinking */
}