<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container--form step--3 body d-md-flex align-items-center justify-content-between">
        <header>Connection result</header>
        <div>{{content}}</div>
        <div class="bruh">
            <form action="/connection_fhir_form" method="POST">
                <button type="submit" name="action" class="light corner first" value="back">Back</button>
                <button type="submit" name="action" class="dark corner second" value="next">Next</button>
            </form>
        </div>
    </div>
</body>
</html>