<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Convector</title>
</head>
<body>
    <div class="container--form step--3 body d-md-flex align-items-center justify-content-between">
        <a href="{{ url_for('download_file', filename='Documentation_for_MMCI_convector.pdf') }}">
            <button class="btn corner"><i class="fa fa-download"></i> Download documentation</button>
        </a>
        <form action="/provide_server_fhir_form" method="POST" enctype="multipart/form-data">
        <header>Provide server for FHIR conversion</header>
        <div>
            <div class="grid-container-element">
                <div class="grid-child-element">
                    <label class="bruh" for="url">Fhir server url:</label>
                    <input class="bruh" type="text" id="url" name="url"><br>
                </div>
            </div>
        </div>
        <div class="steps-tracker-and-buttons">
            <div class="buttons">
                <button type="submit" class="corner dark second">Convert</button>
            </div>
        </div>
        </form>
    </div>
</body>
</html>
