<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container--form step--3 body d-md-flex align-items-center justify-content-between">
        <header>Why you should use FHIR?</header>
        <div>
            insert bullet points list of benefits
        </div>
        <div class="bruh">
            <form action="/FROM_why_fhir_TO_about_qc_fhir" method="POST">
                <button type="submit" class="corner dark">Next</button>
            </form>
        </div>
    </div>
</body>
</html>