<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container--form step--3 body d-md-flex align-items-center justify-content-between">
        <header>Why you should use FHIR?</header>
        <div class="benefits-list">
            <ul>
                <li>The use case of the data is data exchange</li>
                <li>The user doesn't have a license for SNOMED CT</li>
                <li>Tech stack of FHIR: server with RESTfull API,
                    and data are stored in Resources - JSON and XML formats</li>
                <li>The user have additional data that needs conversion as well,
                    then it is usually faster and more developer friendly in FHIR</li>
                <li>The smaller size of the data set</li>
                <li>The data should be used for interoperability, not for final storage.</li>
                <li>The user need to customize the input data and minimize data loss</li>
                <li>It is necessary to add custom constraints</li>
            </ul>
        </div>
        <div class="bruh">
            <a href="{{ url_for('download_file', filename='Documentation_for_MMCI_convector.pdf') }}">
                <button class="btn corner"><i class="fa fa-download"></i> Download documentation</button>
            </a>
            <form action="/FROM_why_fhir_TO_why_omop" method="POST">
                <button type="submit" class="corner dark">Next</button>
            </form>
        </div>
    </div>
</body>
</html>