<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container--form step--3 body d-md-flex align-items-center justify-content-between">
        <header>Why you should use OMOP?</header>
        <div class="benefits-list">
            <ul>
                <li>The use case of the data is Longitudinal analysis</li>
                <li>The user has a license for SNOMED CT</li>
                <li>Tech stack of OMOP CDM: SQL database with all the concepts
                    and vocabularies and open-source tools in R.</li>
                <li>The large size of the data set</li>
                <li>The user need a final storage model</li>
                <li>The user need the global model with standardized
                    vocabularies and codes to simplify data</li>
                <li>OHDSI open-source tools</li>
            </ul>
        </div>
        <div class="bruh">
            <form action="/FROM_why_omop_TO_about_qc_omop" method="POST">
                <button name="action" type="submit" class="corner dark second">Next</button>
            </form>
        </div>
    </div>
</body>
</html>