<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name of tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
</head>
<body>
    <div class="container--form step--3 body d-md-flex align-items-center justify-content-between">
        <header>Comparison with old quality checks:</header>
        <div>
            few bullet points
        </div>
        <div class="bruh">
            <div class="steps">
                Steps 1/4.
            </div>
            <div>
                <form action="/go_to_choose_your_path" method="POST">
                    <button type="submit" class="dark corner second">Next</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>