<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
</head>
<body>
    <div class="container--form step--3 body d-md-flex align-items-center justify-content-between">
        <header>Comparison with old quality checks:</header>
        <div>
            few bullet points
        </div>
        <div class="bruh">
            <div>
                <form action="/FROM_about_qc_again_fhir_TO_why_omop" method="POST">
                    <button type="submit" class="dark corner">Next</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>