<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container--form step--3 body d-md-flex align-items-center justify-content-between">
        <header>Our quality checks provide:</header>
        <div>
            main controls
        </div>
        <div class="bruh">
            <div>
                <form action="/FROM_about_qc_omop_TO_about_qc_again_omop" method="POST">
                    <button name="action" type="submit" class="dark corner">Next</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>