<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name of tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container--form step--3 body d-md-flex align-items-center justify-content-between">
        <header>Welcome to Convertor for BBMRI CRC Cohort Wizzard!</header>
        <div>
            Lets convert our data into FHIR and OMOP in just a few simple steps.
        </div>
        <div class="bruh">
            <div class="steps">
                Steps 1/4.
            </div>
            <div>
                <form action="/get-started" method="POST">
                    <button type="submit" class="corner mixed">Get started!</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>