<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Tool name</title>
</head>
<body>
    <div class="container--form step--3 body d-md-flex align-items-center justify-content-between">
        <header>Thank you for using our tool!</header>
        <div>
            Do you want to try again?
        </div>
        <div class="bruh">
            <div class="steps">
                Steps 4/4.
            </div>
            <form>
                <button class="convert again">Again</button>
                <button class="convert finish">Finish</button>
            </form>
        </div>
    </div>
</body>
</html>